{% macro ps(params) %}
{%- for param in params -%}
  {{param.name}}
  {%- if not loop.last -%}, {% endif -%}
  {%- if param.subparams %}: {% raw %}{{% endraw %}{{ ps(param.subparams) }}{% raw %}}{% endraw %}
  {%- endif -%}
{%- endfor -%}
{% endmacro %}

# Okiba / {{ name }}
{{ description }}

__

{% if examples %}
{% for example in examples %}
```javascript
{{example}}
```
{% endfor %}
{% endif %}

### Installation

You can grab it as a `npm` package
```bash
npm i --save @okiba/{{pkgName}}
```
or you can grab it from core
```bash
npm i --save @okiba/core
```
```javascript
import {{name}} from '@okiba/core/{{pkgName}}'
```

Or use it in the browser
```html
<script type="module" src="https://unpkg.com/@okiba/{{pkgName}}/index.js"></script>
```

## Usage

#### Untranspiled code 🛑
Okiba UI packages are not transpiled, so _don't forget to transpile them with your favourite bundler_.
For example, using Babel with Webpack, you should prevent imports from okiba to be excluded from transpilation, like follows:

```javascript
{
  test: /\.js$/,
  exclude: /node_modules\/(?!(@okiba)\/).*/,
  use: {
    loader: 'babel-loader',
    options: {
      presets: ['@babel/preset-env']
    }
  }
}
```

{% if todo %}
#### Todo:
{% for t in todo %}
+ {{t}}
{%- endfor %}
{% endif %}

{% for member in members -%}
{% if member.kind == 'class' %}
## constructor({{ps(member.params)}})
{% else %}
## {{member.name}}({{ps(member.params)}})
{% endif %}

{% include "./docs/partials/describe.njk" %}
{%- endfor -%}

